@media screen and (min-width:1367px){
	.header{
		background-color: black;
		width: 85vw;
		margin-left: 7.5vw;
		height: 3.9vw;
		margin-top: 3.177vw;
	}

	body{
		overflow-x: hidden;
	}

	.logo{
		width: 9vw;
		/* height: 50px; */
		height:3.9vw;
		background-color: red;
		/* margin-top: 40px; */
		margin-top: 3.177vw;
	}

	.section1{
		margin-left: 7.5vw;
		/*height: 279px;*/
		height: 17.89vw;
		background-color: grey;
		/*margin-top: 125px;*/
		margin-top: 9.84vw;
		width: 85vw;
	}

	.heading1{
		background-color: green;
		margin-top: 3.64vw;
		height: 14.27vw;
		float: left;
		width: 55.416vw;
	}

	.image1{
		margin-left: 9.7vw;
		/* background-color: red; */
		height: 17.89vw;
		width: 19.375vw;
		float: left;
	}

	.image_1{
		/* background-color: red; */
		height: 17.89vw;
		width: 19.375vw;
		float: left;
	}

	.subsection1{
		margin-left: 7.5vw;
		background-color: blue;
		height: 4.166vw;
		width: 61.82vw;
		/* float: left; */
		margin-top: 1.92vw;
	}

	.gif{
		/*margin-left: 9vw;*/
		background-color: purple;
		height: 8.59vw;
		width: 100vw;
		/* float: left; */
		/* overflow-x: hidden; */
		margin-top: 5.72vw;
		border-bottom: 8.133vw solid #181818;
	}

	.whatwedo {
		/* margin-top: 3.489vw; */
		width: 33vw;
		height: 3.75vw;
		background-color: brown;
		margin-left: 15.5vw;
		/* margin-right: 33vw; */
		/* border-radius: 4.68vw; */
		/* padding-top: 3.4vw; */
	}

	.whatwedo_section{
		margin-top: 4.06vw;
		/* background-color: orange; */
		margin-left: 6.09vw;
		/* margin-right: 6.09vw; */
		height: 23.90vw;
		width: 100vw;
		position: relative;
		margin-bottom: 3.75vw;
		left: calc(-50vw + 50%);
	}

	.whatwedo_bg{
		background-color: darkcyan;
		width: 63.95vw;
		height: 40.729vw;
		padding-top: 3.489vw;
		margin-left: 17.96875vw;
		border-radius: 3.125vw;
	}

	.whatwedo_section_data{
		width: 23.59vw;
		height: 23.90vw;
		float: left;
		overflow-x: hidden;
		background-color: orange;
		margin-left: 2.812vw;
		margin-right:2.812vw;
		border-radius: 3.125vw;
		
	}

	.eel_section{
		padding-top: 15.52vw;
		height: 26.3vw;
		width: 100vw;
		background-color: grey;
	}

	.eel_header{
		/* margin-top: 15.52vw; */
		height: 3.75vw;
		margin-left: 18.07vw;
		margin-right: 18.07vw;
		width: 63.90vw;
		background-color: violet;
	}

	.eel_para{
		margin-top: 4.06vw;
		height: 12.5vw;
		margin-left: 11.485vw;
		margin-right: 11.485vw;
		width: 77.03vw;
		background-color: yellow;
	}

	.earning_calc{
		height: 22.91vw;
		background-color: aquamarine;
		width: 81.97vw;
		border-radius: 3.125vw;
		margin: auto;
	}
	.earning_calc_sub{
		display: flex;
	}
	.earning_calc_img{
		background-color:rebeccapurple;
		margin-top: 4.06vw;
		margin-left: 5.02vw;
		height: 14.55vw;
		width: 14.977vw;
	}

	.earning_calc_header{
		background-color: royalblue;
		margin-top: 2.8125vw;
		margin-left: 2.30vw;
		height: 3.177vw;
		width: 32.44vw;
	}

	.earning_calc_para{
		margin-top: 1.66vw;
		margin-left: 2.30vw;
		height: 5.625vw;
		width: 46.5625vw;
		background-color: royalblue;
	}

	.earning_calc_btn{
		margin-top: -3.011vw;
    margin-left: 41.899vw;
		height: 4.01vw;
		width: 27.291vw;
		background-color: #FCCD2F;
		border-radius: 3.125vw;
	}

	.blackband{
		border-bottom: 14.06vw solid #0E0E0E;
	}

	.our_team{
		height: 69.58vw;
		width: 100vw;
		background-color: burlywood;
	}

	.footer{
		height: 36.45833vw;
		width: 100vw;
		background-color: #181818;
	}
}

@media screen and (min-width:1025px) and (max-width:1366px){
	body{
		overflow-x: hidden;
	}
	.header{
		background-color: black;
		width: 82vw;
		margin-left: 9vw;
		height:3.9vw;
		/* height: 50px; */
		margin-top: 3.1vw;
	}

	.logo{
		width: 9vw;
		/* height: 50px; */
		height:3.9vw;
		background-color: red;
		/* margin-top: 40px; */
		margin-top: 3.1vw;
	}

	.section1{
		margin-left: 9vw;
		height: 21.7vw;
		background-color: grey;
		/*margin-top: 125px;*/
		margin-top: 9.7vw;
		width: 82vw;
	}

	.heading1{
		background-color: green;
		margin-top: 5.7vw;
		height: 16vw;
		float: left;
		width: 55.8vw;
	}

	.image1{
		margin-left: 2.7vw;
		/* background-color: red; */
		height: 21.79vw;
		width: 23.5vw;
		float: left;
	}

	.image_1{
		/* background-color: red; */
		height: 21.79vw;
		width: 23.5vw;
		float: left;
	}

	.subsection1{
		margin-left: 9vw;
		background-color: blue;
		height: 5.15vw;
		width: 55.8vw;
		/* float: left; */
		margin-top: 2.18vw;
	}

	.gif{
		/*margin-left: 9vw;*/
		background-color: purple;
		height: 10.46vw;
		width: 100vw;
		/* float: left; */
		/* overflow-x: hidden; */
		margin-top: 4.76vw;
	}
	.whatwedo {
		margin-top: 10.4vw;
		width: 68vw;
		height: 46.7vw;
		background-color: brown;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4.68vw;
		/* padding-top: 3.4vw; */
	}
	.whatwedoHeaderMain {
		padding-top: 3.4vw;
	}
	.whatwedoHeader {
		background-color: burlywood;
		width: 26.2vw;
		height: 4.76vw;
		margin:0 auto ;
	}
	.box1 {
		width: 26.25vw;
		/* height: 31.7vw; */
		border-radius: 4.68vw;
		background-color: cadetblue;
		margin: 0 1vw;
		padding: 2.1vw 1.3vw 0 1.3vw;
	}
	.boxsection {
		margin-top: 3.4vw;
    width: 86vw;
    margin-left: -9vw;
    display: flex;
	}
	.eel_section{
		margin-top: 11vw;
	}
	.eel_header{
		margin-top: 12.26vw;
    width: 75.54vw;
    background-color:cadetblue;
    margin-left: auto;
    margin-right: auto;
    height: 4.7vw;
	}
	.eel_para{
		width: 77vw;
    height: 18.75vw;
    margin-top: 6vw;
    background-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
	}
	.earning_calc{
		margin-top:12.96vw;
		width: 78vw;
		height: 20.2vw;
		background-color: chocolate;
		border-radius: 4.68vw;
		margin-left:auto;
		margin-right:auto;
		padding-top: 5.42vw;
		padding-left: 3.43vw;
		/* display:flex; */
	}
	.earning_calc_img{
		width:14.35vw;
		height:14.76vw;
		background-color: cyan;
		margin-right: 3.43vw;
	}
	.earning_calc_header{
		width:46.8vw;
		height: 4.7vw;
		background-color: deeppink;
		margin-top:-1.2vw;
	}
	.earning_calc_para{
		margin-top: 1.3vw;
		width:55.46vw;
		height:5.15vw;
		background-color: darkgreen;
	}
	.earning_calc_btn{
		margin-top: -3.3vw;
		width:32.34vw;
		height:4.68vw;
		border-radius: 4.68vw;
		/* margin-left: 23.1vw; */
		background-color: gold;
		/* display: flex;
		justify-content: flex-end; */
		/* float: right; */
		margin-right: 4.8vw;
	}
	.btnDiv {
		display: flex;
		justify-content: flex-end;
	}
	.earning_calc_sub {
		display: flex;
	}
	.number {
		width: 5.5vw;
		height: 5.5vw;
		background-color: gold;
		border-radius: 50%;
	}
	.boxHeader {
		width: 23.5vw;
		height: 6.2vw;
		margin-top: 1.3vw;
		background-color: chartreuse;
	}
	.boxDescription{
		margin-top: 1.3vw;
		background-color: coral;
		height: 13vw;
		width: 23.5vw;
		margin-bottom: 2.7vw;
	}
	.our_team {
		/* margin-top: 15.7vw; */
		width: 68.67vw;
		height: 97.1vw;
		background-color: darkgoldenrod;
		border-radius: 4.68vw;
		margin: 15.7vw auto 0 auto;
	}
}

@media screen and (min-width:768px) and (max-width:1024px){
	body{
		overflow-x: hidden;
	}
	.header{
		background-color: black;
		width: 82vw;
		margin-left: 9vw;
		height:12.33vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.menuIcon{
		width: 4.51vw;
		height: 3.26vw
	}

	.logo{
		width: 18.55vw;
		height:8vw;
		background-color: red;
	}

	.section1{
		margin-left: 9vw;
    height: 21.7vw;
    background-color: grey;
    margin-top: 38.6vw;
    width: 82vw;
    margin-bottom: 16.8vw;
	}

	.heading1{
		background-color: green;
		height: 32vw;
		float: left;
		width: 82vw;
	}

	.image1{
		display: none;
	}

	.image_1{
		float: left;
	}

	.subsection1{
		margin-left: 9vw;
		background-color: blue;
		height: 13vw;
		width: 82vw;
	}

	.gif{
		background-color: purple;
		height: 17vw;
		width: 100vw;
		margin-top: 13vw;
		margin-bottom: 7vw;
	}

	.eel_section{
		margin-top: 11vw;
	}
	.eel_header{
		margin-top: 23.9vw;
    width: 82vw;
    background-color:cadetblue;
    margin-left: auto;
    margin-right: auto;
    height: 7.7vw;
	}
	.eel_para{
		width: 82vw;
    height: 20vw;
    margin-top: 6vw;
    background-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
	}
	.earning_calc{
		margin-top:23.9vw;
		width: 82vw;
		height: 51.4vw;
		background-color: chocolate;
		border-radius: 4.68vw;
		margin-left:auto;
		margin-right:auto;
		padding-top: 5.42vw;
		padding-left: 3.43vw;
		
	}
	.earning_calc_img{
		width: 23.6vw;
    height: 24.6vw;
		background-color: cyan;
		margin-right: 3.43vw;
	}
	.earning_calc_header{
		width: 42.1vw;
		height: 17.7vw;
		background-color: deeppink;
		margin-top:1.9vw;
	}
	.earning_calc_para{
		margin-top: 1.3vw;
		width:49vw;
		height:12.9vw;
		background-color: darkgreen;
	}
	.earning_calc_btn{
		margin-top: 2.8vw;
		width: 53.9vw;
		height:7.8vw;
		border-radius: 4.68vw;
		/* margin-left: 23.1vw; */
		margin-left: auto;
		margin-right: auto;
		background-color: gold;
	}
	.earning_calc_sub {
		display:flex;
	}
	.whatwedo {
		margin-top: 10.4vw;
		width: 62vw;
		height: 201.56vw;
		background-color: brown;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4.68vw;
		/* padding-top: 3.4vw; */
	}
	.whatwedoHeaderMain {
		padding-top: 4.55vw;
	}
	.whatwedoHeader {
		background-color: burlywood;
		/* width: 82vw; */
		height: 7.9vw;
		margin:0 auto ;
	}
	.box1 {
		width: 45.2vw;
		/* height: 46.2vw; */
		border-radius: 4.68vw;
		background-color: cadetblue;
		margin: 3.7vw 0;
		padding: 0 5.5vw;
		/* text-align: center; */
	}
	.boxsection {
		/* margin-top: 4.55vw; */
    /* width: 86vw; */
    /* margin-left: -9vw; */
    display: flex;
		flex-direction: column;
		align-items: center;
		/* justify-content: center; */
	}
	.number {
		width: 9.2vw;
		height: 9.2vw;
		background-color: gold;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4.5vw;
	}
	.boxHeader {
		/* text-align: center; */
		width: 39.3vw;
		height: 10.4vw;
		/* margin-top: 1.3vw; */
		background-color: chartreuse;
		margin: 2.2vw auto 0 auto;
	}
	.boxDescription{
		/* margin-top: 1.3vw; */
		background-color: coral;
		height: 21.48vw;
		width: 39.3vw;
		/* margin-bottom: 2.7vw; */
		margin: 2.2vw auto 4.5vw auto;
	}
}
@media screen and (max-width:767.68px){
	body{
		overflow-x: hidden;
	}
	.image1{
		display:none;
	}
	.header{
		background-color: black;
    width: 100vw;
    margin-left: 0vw;
    height: 17.93vw;
    margin-top: 0vw;
    padding-top: 5vw;
		display: flex;
	}
	.menuIcon {
    width: 5.3vw;
    height: 3.84vw;
		margin-left: 49vw;
    margin-top: 4.3vw;
	}
	.logo{
		width: 28.5vw;
    height: 11.9vw;
    background-color: red;
    margin-left: 7vw;
	}
	.section1{
		margin-left: 6vw;
		/*height: 279px;*/
		height: 30.7vw;
		background-color: grey;
		/*margin-top: 125px;*/
		margin-top: 58.54vw;
		width: 88.5vw;
	}
	.heading1{
		/* margin-left: 9vw;  */
    background-color: green;
    /* margin-top: 73px; */
    margin-top: 5.7vw;
    height: 24.3vw;
    float: left;
    width: 88.4vw;
	}
	.subsection1{
		margin-left: 6vw;
		background-color: blue;
		height: 8.25vw;
		width: 88.8vw;
		float: left;
		margin-top: 3.5vh;
	}
	.gif{
		/*margin-left: 9vw;*/
		background-color: purple;
    height: 23.4vw;
    width: 100vw;
    float: left;
    overflow-x: hidden;
    margin-top: 11.7vw;
	}
	.eel_section{
		margin-top: 20vw;
	}
	.eel_header{
		margin-top: 12.26vw;
    width: 88.8vw;
    background-color:cadetblue;
    margin-left: auto;
    margin-right: auto;
    height: 26.7vw;
	}
	.eel_para{
		width: 88vw;
    height: 95vw;
    margin-top: 6vw;
    background-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
	}
	.earning_calc{
		margin-top:12.96vw;
		width: 88.8vw;
		height: 95.8vw;
		background-color: chocolate;
		border-radius: 4.68vw;
		margin-left:auto;
		margin-right:auto;
		padding-top: 14.1vw;
		padding-left: 3.43vw;
		display:flex;
		flex-direction: column;
	}
	.earning_calc_img{
		width: 33vw;
		height:38.1vw;
		background-color: cyan;
		margin-right: 3.43vw;
	}
	.earning_calc_sub{
		display:flex;
	}
	.earning_calc_header{
		width:43.2vw;
		height: 33.86vw;
		background-color: deeppink;
		margin-top:0;
	}
	.earning_calc_para{
		margin-top: 9.6vw;
    width: 77.6vw;
    height: 18.4vw;
    background-color: darkgreen;
    margin-left: -33vw;
	}
	.earning_calc_btn{
		margin-top: 7vw;
    width: 89vw;
    height: 13.8vw;
    border-radius: 21.3vw;
    margin-left: 0vw;
    background-color: gold;
	}
	.whatwedo {
		margin-top: 66.4vw;
		width: 88.8vw;
		height: 314vw;
		background-color: brown;
		margin-left: auto;
		margin-right: auto;
		border-radius: 21.3vw;
		/* padding-top: 3.4vw; */
	}
	.whatwedoHeaderMain {
		padding-top: 12vw;
	}
	.whatwedoHeader {
		background-color: burlywood;
		width: 88.8vw;
		height: 11.46vw;
		margin:0 auto ;
	}
	.box1 {
		width: 65vw;
		height: 78.1vw;
		border-radius: 21.3vw;
		background-color: cadetblue;
		margin: 7.4vw 0;
		padding: 0 5.5vw;
		/* text-align: center; */
	}
	.boxsection {
		/* margin-top: 4.55vw; */
    /* width: 86vw; */
    /* margin-left: -9vw; */
    display: flex;
		flex-direction: column;
		align-items: center;
		/* justify-content: center; */
	}
	.number {
		width: 12vw;
		height: 12vw;
		background-color: gold;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 14.6vw;
	}
	.boxHeader {
		/* text-align: center; */
		width: 59.1vw;
		height: 14.9vw;
		/* margin-top: 1.3vw; */
		background-color: chartreuse;
		margin: 2.2vw auto 0 auto;
	}
	.boxDescription{
		/* margin-top: 1.3vw; */
		background-color: coral;
		height: 24.48vw;
		width: 58.9vw;
		/* margin-bottom: 2.7vw; */
		margin: 2.2vw auto 4.5vw auto;
	}
}